/* hero css */
.hero-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
}


.water_section img{
    height:600px;
    width: 638px;
}
.water_section{
  height: 630px;
  width: 645px;
}
.header {
    color: #da9e04;
    font-size: 30px;
    font-weight: 100px;
    font-style: italic;
  }
  
  .water_sectiondet{
    margin-top: 55px;
    width: 70%;
    margin-left: 45px;
  }
  .satisfaction {
    font-size: 28px;
    font-weight: 450px;
    line-height: 1;
    margin-bottom: 45px;
  }
  .details1{
    font-size: 18px;
    font-weight: 60px;
  }
.btn6{
  background-color: #3876f5;
  color: #38eaff;
  margin-right: 25px;
  padding: 15px 30px;
  border-radius: 100vh;
  font-size: 15px;
}

/* hero2 */
.hero2_wrapper{
  margin-top: 125px;
  padding: 10px;
}
.trust-columns{
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  gap: 1em;
  border: 1px solid;
  
  padding: 7px;
  border-radius: 8px;
}
.heading2{
  text-align: center;
}
.trust-columns img{
  width: 80%;
 border-radius: 8px;
}
.waterlevel{
height: 210px;
width: 210px;
}

/* hero3 */
.hero3-wrapper{
  margin-top: 125px;
  padding: 15px;
}
.team_columns{
  display: flex;
  flex-direction: row;
  gap: 1em;
}
.team_columns img{
  border-radius: 10px;
}
/* HeroBottom */
.heroBottom_wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 525px;
  width: 1157px;
  padding: 15px;
  margin-top: 65px;
  margin-left: 75px;
}
.right img{
  height: 80%;
}
.leftSide{
  display: flex;
  flex-direction: column;
}
.details{
  font-size: 20px;
  font-weight: 7px;
}

/* shop page
shop card */
.Card_wrapper{
  border: 2px solid;
  border-width:40%;
  border-radius: 8px;
  border-color: gray;
  width: 320px;
  height: 580px;
  ;
}
.shoplogo{
  border-radius: 50%;
  width:60px;
  height: 60px;
}
.shophead{
  display: flex;
  flex-direction: row;
}
.shop_span{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}
.shopproduct{
   margin-top: 45px;
   padding: 10px;
  
}
.shopproduct img{
  display: block;
  width: 238px;
  height: 295px;  
}
.productspan{
padding: 0 20px 20px 20px;
margin-left: 49px;
 }

.btn7{
  background-color: #3876f5;
  color: #38eaff;
  margin-left: 39px;
  padding: 15px 30px;
  border-radius: 100vh;
  font-size: 15px;
 }

.cardsColumn{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 75px;
  margin-top: 85px;
}
.menu_products{
  display: grid;
  grid-template-columns: 15em auto;
}
.right-bar{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding: 0.4rem;
  margin: 0.4rem;
  margin-top: 2rem;
}
.menu{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border: solid gray 1px;
  border-radius: .3rem;
}
/* sidebar */
.filtersidebar{
  position: sticky;
  left: 0;
  border: solid grey 1px;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  padding: 0.4rem;
  margin-right: 1.4rem;
  margin-top: 2.4rem;

}
.shop img{
  border-radius: 50%;
  width:60px;
  height: 60px;
}
.pdet{
  color:#3876f5;
}
.btn9{
  margin-left: 39px;
  padding: 15px 30px;
  background-color: white;
  border-color: #3876f5;
  border-radius:0.3rem;
  color:#3876f5;
}
.shop{
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  border: solid gray 1px;
  border-radius: 0.3rem;
  background: #E0EDEF;
}
.filtercardwrapper{
  position: sticky;
  left: 0;
  display: flex;
  flex-direction: column;
  gap:0.4rem;
  border: solid grey 1px;
  border-radius: 1.3rem;
  margin-top: 45px;
  padding: 0.4rem;
}
.rectangle{
  width: 190px;
  height:10px;
  border: solid black 1px;
  border-radius: 5px;
  background: #4E75C7;
  color: #4E75C7;
}
/* tagfilter */
.tags_wrapper{
  border: solid gray 1px;
  padding: 0.4rem;
  margin-top: 45px;
  border-radius: 1.3rem;

}
.tags{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
  padding:px;
}
.tag1{
  padding: 12px 25px;
  border: solid gray 1px;
  border-radius: 0.3rem;
  padding-right: 2px;
  background:#E0EDEF ;
}