 /* navbar component */
.container{
    width:100%;
    margin:0 auto;
}
header{
    background: #fff;
}
header ::after{
    content:'';
    display:table;
    clear:both;

}
.logo{
    float:left;
    padding:10px 0 ;
    height:80px;
    width:80px;
    border-radius: 25px;
}

nav{
    float:right;
    margin-right: 3rem;
}


nav ul {
margin: 0;
padding: 0;
list-style: none;
}

nav li {
   display: inline-block;
   margin-left: 70px;
   padding-top: 23px;
   position: relative;
   

}

nav a {
    color:black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}
nav a :hover{
   color:#000; 
}
nav a::before{
    content: '';
    display:block;
    height: 5px;
    
    
    background-color:#3876F5;
    position: absolute;
    top:0;
    width:0%;
    transition: all ease-in-out 260ms;
}

nav a:hover::before{
  width:100%; 
}

/* Home component */
.section1{
    /* border: 10px solid firebrick;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: #3876F5;
    outline: 2px solid lime;
    gap: 2rem; */
    display: grid;
    grid-template-columns: 1fr 1fr;
	margin-top: 50px;
	margin-left: 100px;
    
}   

/* 
.section1 > * {
 flex:1;
} */

.heading{
    font-size: 45px;
    font-weight: 400;
    padding-bottom: 30px;
    line-height: 1.5;
}
.water{
    font-weight: 400;
    width: 64%;
    line-height: 1.5;
    font-size: 18px;
}
.btn{
    margin-top: 20px;
    padding: 15px 60px;
    border-radius: 10vmax;
    border: none;
    cursor: pointer;
    font-size: 18px;
    background-color:#38EAFF;
    margin-right: 26px;
}
.btn2{
    margin-top: 20px;
    margin-left: 25px;
    padding: 15px 60px;
    border-radius: 10vmax;
    border: none;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.4s;

}
.btn2:hover {
    background-color:#e7e7e7;
    color: white;
}
.btn{
    background-color: #3876F5;
    color: #38EAFF;
}
 .deliveryman {
    width: 90%;
     border-radius: 25px;
 }
 

 /* section 2 */
/* watercard */
.section2{
    display: grid;
    gap: 1em;
   
    margin-top: 50px;
    margin-left:100px ;
}
@media (min-width: 40rem){
    .section2{
        grid-template-columns: 1fr 1fr;
    }
}
.girlwater{
    width:566px;
    border-radius: 25px;

}
.waterContainer{
    height: 340px;
    width: 240px;
}
.bottle{
    width:90%;
    height: 70%;
}
.watersec{
    display: grid;
    grid-template-columns: repeat(2, 1fr)
}
.header2{
    color: #DA9E04;
    font-size: 30px;
    font-weight: 400px;
    font-style: italic;
}
.lives{
    font-size: 38px;
    font-weight: 450px;
    line-height: 1.5 ;
}
.waterdetails{
    font-size: 16px;
    margin-top: 10px;
    margin-bottom:40px;
}
.btn3{
    margin-top: 20px;
    padding: 15px 60px;
    border-radius: 10vmax;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-right: 26px;
     background-color: #3876F5;
    color: #38EAFF;
}